# Project Dependencies
/node_modules
/vendor

# Debug Logs
npm-debug.log
yarn-error.log

# Predefined images
public/assets/images/*

# Future Features
middleware/*
routes/auth.php
views/signin.php
views/signup.php
views/partials/auth-module.php
