@import url('https://fonts.googleapis.com/css2?family=Roboto');

/** ===== Basic CSS ===== **/
/** ===================== **/

html, body {
    height: 100%;
    background: #000;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 20pt;
}

header, h1, h2, p, br {
    margin: 5px;
    padding: 5px;
}

h1 {
    font-size: 24pt;
    font-weight: 900;
}

h2 {
    font-size: 16pt;
    font-weight: 600;
}

p, strong {
    font-size: 12pt;
    line-height: 16pt;
}

strong {
    font-weight: 600;
}

/** ===== Login CSS ===== **/
/** ===================== **/

.login-container {
    height: 100%;
}

.form-container > form label, 
.form-container > form input,
.form-container > form small {
    margin: 0px;
    font-size: 12pt;
}
.form-container > form input {
    padding: 0px;
    padding-left: 5pt;
}

/** ===== Dashboard CSS ===== **/
/** ========================= **/

.logout-button {
    -webkit-transition: color 0.2s ease-out,
        background-color 0.2s ease-out,
        border 0.2s ease-out,
        color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out,
        background-color 0.2s ease-out,
        border 0.2s ease-out,
        color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out,
        background-color 0.2s ease-out,
        border 0.2s ease-out,
        color 0.2s ease-out;
    transition: color 0.2s ease-out,
        background-color 0.2s ease-out,
        border 0.2s ease-out,
        color 0.2s ease-out;

    justify-content: center;
    position: fixed;
    display: inline-block;
    line-height: 0.6em;
    top: 0; right: 0;
    margin: 10px;
    width: 12em;
    height: 2em;
    font-size: 12pt;
    text-align: center;

    color: #acacac;
    font-weight: 600;
    background-color: #000;
    border: 1.5px dotted red;
}
.logout-button:hover {
    background-color: red;

}