@import url('https://fonts.googleapis.com/css2?family=Roboto');

/** ===== Basic CSS ===== **/
/** ===================== **/

html, body {
    height: 100%;
    background: #000;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 20pt;
}

header, h1, h2, p, br {
    margin: 5px;
    padding: 5px;
}

h1 {
    font-size: 24pt;
    font-weight: 900;
}

h2 {
    font-size: 16pt;
    font-weight: 600;
}

p, strong {
    font-size: 12pt;
    line-height: 16pt;
}

strong {
    font-weight: 600;
}

/** ===== Login CSS ===== **/
/** ===================== **/

.login-container {
    height: 100%;
}

.form-container > form label, 
.form-container > form input,
.form-container > form small {
    margin: 0px;
    font-size: 12pt;
}
.form-container > form input {
    padding: 0px;
    padding-left: 5pt;
}

/** ===== Dashboard CSS ===== **/
/** ========================= **/

.logout-button {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
    width: 10em;
    height: 10em;
}